.flashcards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.flashcards--cards {
  display: flex;
  column-gap: 40px;
  height: 400px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.flashcards--arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  user-select: none;
}

.flashcards--arrows--prev,
.flashcards--arrows--next,
.flashcards--arrows--current-card {
  font-size: 24px;
  -webkit-text-fill-color: var(--blaze-orange);
}

.flashcards--arrows--prev,
.flashcards--arrows--next {
  cursor: pointer;
}

.flashcards--arrows--prev:hover,
.flashcards--arrows--next:hover {
  -webkit-text-fill-color: var(--soft-peach);
}

.flashcards--arrows--prev.hidden,
.flashcards--arrows--next.hidden {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .flashcards--arrows--prev,
  .flashcards--arrows--next,
  .flashcards--arrows--current-card {
    font-size: 20px;
  }
}
