:root {
  --black: #010101;
  --studio: #5f43b2;
  --soft-peach: #fefdfd;
  --spun-pearl: #b1aebb;
  --scarlet-gum: #44195e;
  --blaze-orange: #fc6601;
  --boulder: #767676;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: var(--spun-pearl);
}

::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: var(--studio);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scarlet-gum);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  -webkit-text-fill-color: var(--black);
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s, border-radius 0.2s,
    text-decoration 0.2s, box-shadow 0.2s, letter-spacing 0.2s;
}

*::placeholder {
  -webkit-text-fill-color: var(--boulder);
  color: var(--boulder);
}

input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  -webkit-text-fill-color: var(--black);
  color: var(--black);
}

#root {
  position: relative;
  min-height: 100dvh;
  background: radial-gradient(rebeccapurple, var(--scarlet-gum), var(--black));
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
