.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
  cursor: pointer;
}

.hamburger-menu > span {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10rem;
  background-color: var(--blaze-orange);
  transition: rotate 0.4s;
}

.hamburger-menu.active > span:nth-child(1) {
  transform: translate(0.4375rem, 0.4375rem);
  rotate: 45deg;
}

.hamburger-menu.active > span:nth-child(2) {
  display: none;
}

.hamburger-menu.active > span:nth-child(3) {
  transform: translate(0.4375rem, -0.4375rem);
  rotate: -45deg;
}
