.multiple-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: 500px;
  background-color: var(--soft-peach);
  border-radius: 20px;
  padding: 30px 40px;
}

.multiple-choice--definition {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiple-choice--answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.multiple-choice--answers--answer {
  font-size: 20px;
  -webkit-text-fill-color: var(--blaze-orange);
  background-color: transparent;
  border: 2px solid var(--blaze-orange);
  border-radius: 100px;
  padding: 6px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.multiple-choice--answers--answer:hover {
  letter-spacing: 3px;
}

.multiple-choice--result {
  font-size: 40px;
  text-align: center;
}

.multiple-choice--restart {
  font-size: 40px;
  -webkit-text-fill-color: var(--blaze-orange);
  border: 2px solid var(--blaze-orange);
  border-radius: 10px;
  padding: 4px 30px;
  text-align: center;
  cursor: pointer;
}

.multiple-choice--restart:hover {
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .multiple-choice--definition {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .multiple-choice {
    padding: 20px;
  }

  .multiple-choice--definition {
    font-size: 22px;
  }

  .multiple-choice--answers {
    gap: 10px;
  }

  .multiple-choice--answers--answer {
    font-size: 16px;
  }

  .multiple-choice--answers--answer:hover {
    letter-spacing: 2px;
  }

  .multiple-choice--result,
  .multiple-choice--restart {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  .multiple-choice {
    padding: 15px;
  }

  .multiple-choice--definition {
    font-size: 20px;
  }

  .multiple-choice--answers--answer {
    font-size: 14px;
    padding: 4px 20px;
  }

  .multiple-choice--result,
  .multiple-choice--restart {
    font-size: 24px;
  }
}
