.submit-button {
  padding: 0.3rem 3rem;
  border: none;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-color: var(--soft-peach);
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-text-fill-color: var(--blaze-orange);
  color: var(--blaze-orange);
  cursor: pointer;
}

.submit-button:hover {
  -webkit-text-fill-color: var(--soft-peach);
  color: var(--soft-peach);
  background-color: var(--blaze-orange);
}
