.word-set {
  display: flex;
  column-gap: 30px;
  padding-block: 40px;
  position: relative;
}

.word-set--hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.word-set--hamburger-menu > span {
  width: 30px;
  height: 4px;
  background-color: var(--blaze-orange);
  border-radius: 100px;
  transition: rotate 0.4s;
}

.word-set--hamburger-menu.active > span:nth-child(1) {
  transform: translate(7px, 7px);
  rotate: 45deg;
}

.word-set--hamburger-menu.active > span:nth-child(2) {
  display: none;
}

.word-set--hamburger-menu.active > span:nth-child(3) {
  transform: translate(7px, -7px);
  rotate: -45deg;
}

.word-set--sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 20%;
  overflow: hidden;
}

.word-set--sidebar--modes {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 2px solid var(--boulder);
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.word-set--sidebar--modes > a,
.word-set--sidebar--update,
.word-set--sidebar--delete {
  font-size: 20px;
  -webkit-text-fill-color: var(--soft-peach);
  border: 2px solid var(--soft-peach);
  border-radius: 100px;
  padding: 6px 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.word-set--sidebar--modes > a.selected {
  font-style: italic;
  background-color: var(--studio);
  cursor: default;
}

.word-set--sidebar--modes > a:hover,
.word-set--sidebar--update:hover,
.word-set--sidebar--delete:hover {
  -webkit-text-fill-color: var(--blaze-orange);
  border: 2px solid var(--blaze-orange);
}

.word-set--sidebar--modes > a.selected:hover {
  -webkit-text-fill-color: var(--soft-peach);
  border: 2px solid var(--soft-peach);
}

.word-set--main {
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .word-set--hamburger-menu {
    display: flex;
  }

  .word-set--sidebar {
    width: 0;
    background-color: var(--black);
    padding-block: 40px;
    position: absolute;
    top: 40px;
    left: 0;
    transition: width 2s, padding-inline 2s;
    z-index: 50;
  }

  .word-set--sidebar.active {
    width: 100%;
    padding-inline: 60px;
  }

  .word-set--main {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .word-set--sidebar--modes > a,
  .word-set--sidebar--update,
  .word-set--sidebar--delete {
    font-size: 16px;
  }

  .word-set--hamburger-menu {
    height: 20px;
  }

  .word-set--hamburger-menu > span {
    width: 24px;
    height: 3px;
  }

  .word-set--hamburger-menu.active > span:nth-child(1) {
    transform: translate(6px, 6px);
  }

  .word-set--hamburger-menu.active > span:nth-child(3) {
    transform: translate(6px, -6px);
  }
}

@media screen and (max-width: 480px) {
  .word-set--sidebar.active {
    padding-inline: 20px;
  }
}
